.yui3-button {
    margin:10px 0px 10px 0px;
    color: #fff;
    background-color: #3476b7;
}

.container{
    height: 100%;
    align-content: center;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}

.card{

    margin-top: 100px;
    margin-bottom: auto;
    width: auto;
    background-color: ghostwhite !important;
}

.form-group select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

input, label {
    display:block;
}
select, label {
    display:block;
}

select:invalid { color: gray; }

