body {
  margin: 0;
  font-family:Arial,sans-serif;
  background-color: ghostwhite;


}
font{
  color: #3B3B3B;

}
.topnav {

  background-color: #4365E2;
}
img
{max-width:100%; height:auto}


.topnav a {

  color: ghostwhite;

  text-decoration: none;
  font-size:30px;
}
#logo {
  height: 100px;
  vertical-align: middle;
}

ul {
  display: inline;
  list-style: none;
}

#nav {
  display: inline;
  cursor: pointer;
  padding: 20px;
  margin-left: -5px;


}

a {
  text-decoration: none;
}

/*.card-body{*/

/*  !*color: ghostwhite;*!*/
/*  background-color:#4365E2*/
/*}*/

.card-header{
    color: ghostwhite;
  background-color:#4365E2

}