{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='genCode.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lecturer_home.css') }}">
    <title>Module Management</title>

        <div class="topnav" >
            <div class="active">
                <a href="{{ url_for('index') }}">
                    <img id="logo" src="/static/uni_logo.png" alt="Uni Logo">
                </a>
                <ul id="nav">
                    <li id="nav"><a href="{{ url_for('lecturer_home') }}">Lecturers</a></li>
                    <li id="nav"><a href="{{ url_for('lecturesignin') }}">Students</a></li>
                    <li id="nav"><a href="{{ url_for('sign_out') }}">Sign Out</a></li>

                </ul>

            </div>
        </div>
{% endblock head %}

{% block content %}

    <h1 class="text-center"> {{ session['moduleinfo']['ModuleID'] }} : {{ session['moduleinfo']['ModuleName'] }}</h1>



    {% with messages = get_flashed_messages() %}
        <div class="d-flex justify-content-center" >
            <div class="my-5">
                {% if messages %}
                    <div class="card-body">

                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}

                    </div>
                {% endif %}
            </div>
        </div>
    {% endwith %}





    {% if exists == False and lectures_exist == True%}

        <div class="my-5">

        <div class="d-flex justify-content-center" >
            <div class="card">
                <div class="card-body">

                    A class list does not exist, please upload one or add students individually.

                    <form action="{{ url_for('upload_file') }}" method="post" enctype=multipart/form-data >
                        Select a file: <input type="file"  name="file"><br><br>
                        <input class = "btn btn-primary" type="submit" value="Upload">
                    </form>

                    <p> </p>
                    <form name="myform" action="{{ url_for('class_list_management') }}" method="post">
                        <label for="f_name"> First Name:</label>
                        <input type="text" name="f_name" required>
                        <label for="l_name"> Second Name:</label>
                        <input type="text" name="l_name" required>
                        <label for="matric_num"> Matric #:</label>
                        <input type="text" name="matric_num" required>

                        <input type="submit" class="btn btn-primary" Add >

                    </form>

                </div>
            </div>
        </div>
    {% endif %}

{% if exists == True and lectures_exist == True%}

    <p> </p>
    <div class="d-flex justify-content-center" >
        <div class="card">
            <div class="card-body">

                <form action="{{ url_for('upload_file') }}" method="post" enctype=multipart/form-data >
                    Select a file: <input type="file"  name="file"><br><br>
                    <input class = "btn btn-primary" type="submit" value="Upload">
                </form>
                <p> </p>
                <form name="myform" action="{{ url_for('class_list_management') }}" method="post" >

                    <label for="f_name"> First Name:</label>
                    <input type="text" name="f_name" required>
                    <label for="l_name"> Second Name:</label>
                    <input type="text" name="l_name" required>
                    <label for="matric_num"> Matric #:</label>
                    <input type="text" name="matric_num" required>

                    <input type="submit" class="btn btn-primary" Add >

                </form>
            </div>
        </div>

        <div class="flex-container">


        </div>
    </div>

    </div>

    <div class="flex-container">
        <form action="{{ url_for('search_class_list') }}" method="post">
            <label for="keyword"> Search:</label>
            <input type="text" name="keyword" required>
            <button name="keyword" type="submit" class="btn btn-primary">Go </button>
        </form>

        <form action="{{ url_for('class_list_management') }}" method="get">
            <button name="module_id" type="submit" class="btn btn-primary mx-1" value="{{ session['moduleinfo']['ModuleID'] }}" >Show All</button>
        </form>
    </div>

    <div class="container-fluid my-3">

        <ul class="list-group mx-5">
            <li class="list-group-item active">Results</li>
            {% for item in class_list %}

                <li class="list-group">
                    <h5> </h5>
                    <form action="{{ url_for('student_stats') }}" method="get">

                        <button name="Student" type="submit" value="{{ item['MatricNum'] }}" class="list-group-item list-group-item-action"> {{ item['FirstName'] }} {{ item['LastName'] }} - {{ item['Attendance'] }}% Attendance </button>
                    </form>
                </li>

            {% endfor %}

        </ul>

    </div>



{% endif %}

{% if lectures_exist == False %}

<div class="card mx-5" >
  <img class="card-img-top" src="/static/qmb.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Not So Fast!</h5>
    <p class="card-text">It Seems like you don't have any lectures scheduled yet, please schedule some before handling your class list.</p>
    <a href="{{ url_for('createlecture') }}" class="btn btn-primary">Go</a>
  </div>
</div>


{% endif %}

{% endblock content %}

{% block scripts %}

    {{ super() }}

{% endblock scripts %}
