{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='genCode.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lecturerhome.css') }}">
    <title>Code Generation</title>

    <div class="topnav1">
        <a href="{{ url_for('sign_out') }}">Sign Out</a>
    </div>
{% endblock head %}

{% block content %}

    <p> </p>
    <h1 align="center"> Lecture Code Display</h1>

    {% if lectureselected == False %}

        {% if moduleselected == False %}
            <div class ="flex-container">
                <form action="{{ url_for('selectmodule') }}" method="post">
                    {% for item in session['supervisedmodules'] %}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ item['ModuleID'] }}</h5>
                                <p class="card-text">{{ item['ModuleName'] }}</p>
                                <input name="module" type="submit" class="btn btn-primary" value="{{ item['ModuleID'] }}" >
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                </form>

            </div>
        {% endif %}

        {% if moduleselected == True %}

            <div class="card" style="">

                <div class="card-body">
                    <h5 class="card-title">Select Lecture</h5>

                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Day</th>
                            <th scope="col">Week</th>
                            <th scope="col">Time</th>
                            <th scope="col">Location</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in lectures%}
                            <form action="{{ url_for('selectlecture') }}" method="post">
                                <tr>
                                    <th scope="col"></th>
                                   <td><button name="lecture" type="submit" class="btn btn-primary" value="{{ item['LectureID'] }}" >Select</button></td>
                                    <td>{{ item['Day'] }}</td>
                                    <td>{{ item['Week'] }}</td>
                                    <td>{{ item['Time '] }}</td>
                                    <td>{{ item['LectureLocation'] }}</td>
                                </tr>
                            </form>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <a href="{{ url_for('gencode') }}" class="btn btn-primary">Back</a>
            </div>
        {% endif %}

    {% endif %}

    <div>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <div class=card>
                <h5 class="text-center">Enter This Code To Sign Into The Lecture</h5>
                  <div class=card-body >
                      <h1 class="text-center"> {{ message }}</h1>
                  </div>
                    <a href="{{ url_for('gencode') }}" class="btn btn-primary">Back</a>
                </div>
            {% endif %}
        {% endwith %}
    </div>


{% endblock content %}

{% block scripts %}
    {{ super() }}

{% endblock scripts %}
