{% extends "layout.html" %}

{% block head %}

    {#  Head section of webpage  #}

    {# nav bar#}
    <div class="topnav" >
        <div class="active">
            <a href="{{ url_for('index') }}">
                <img id="logo" src="/static/uni_logo.png" alt="Uni Logo">
            </a>
            <ul id="nav">
                <li id="nav"><a href="{{ url_for('lecturer_home') }}">Lecturers</a></li>
                <li id="nav"><a href="{{ url_for('lecturesignin') }}">Students</a></li>


            </ul>

        </div>
    </div>
    {# CDN links #}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
    <title>Home</title>

{% endblock head %}

{% block content %}


    <p> </p>
    <h1 align="center"> Dundee University Attendance</h1>

{# bootstrap cards used as options for lecturers and students.#}
    <div class ="flex-container">

        <div class="card m-5">
            <img class="card-img-top" src="/static/home1.jpg" >
            <div class="card-body" style="color: ghostwhite;background-color:#4365E2">
                <h5 class="card-title">Tools For Lecturers</h5>
                <p class="card-text">Important Information For Lecturers</p>
                <a href="{{ url_for('lecturer_sign_in') }}" class="btn btn-primary" style="background-color:ghostwhite;color:#4365E2;">Go</a>
            </div>
        </div>

        <div class="card m-5" >
            <img class="card-img-top" src="/static/rugby.png" >
            <div class="card-body" style="color: ghostwhite;background-color:#4365E2 ">
                <h5 class="card-title">Signing in For Students</h5>
                <p class="card-text">Sign into your timetabled hours.</p>
                <a href="{{ url_for('lecturesignin') }}" class="btn btn-primary" style="background-color:ghostwhite;color:#4365E2;">Go</a>
            </div>
        </div>

    </div>


{% endblock content %}

{% block scripts %}
    {{ super() }}

{% endblock scripts %}
