<!DOCTYPE html>
<html lang="en">
<head>
{# !!THIS IS A LAYOUT TEMPLATE AND NOT IMPORTANT#}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
    <title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock head%}
</head>
<body>
<section class="content">
    <header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </header>

    {% block content %}{% endblock %}
</section>
</body>
</html>