<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
    <title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock head%}
</head>
<body>
<section class="content">
  <header>
    <div class="topnav">
          <div class="active">
          <a href="#">Home</a>
          <a href="#Lecturers">Lecturers</a>
          <a href="#about">About</a>
        </div>
    </div>
  </header>
  {% block content %}{% endblock %}
</section>
</body>
</html>