{% extends "layout.html" %}

{% block head %}

    <div class="topnav1">
        <a href="{{ url_for('sign_out') }}">Sign Out</a>
    </div>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lecturerhome.css') }}">
    {#      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">#}

    <title>Home</title>

{% endblock head %}

{% block content %}

    <p> </p>
    <h1 align="center"> Lecturer Home</h1>


    <div class="container">


        <div class="my-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Notifications</h5>

{#                    <p class="card-text" style="color: red">Upcoming Lecture:  </p>#}
{#                    {%if next_lecture %}#}
{##}
{#                        {% for item in next_lecture %}#}
{##}
{#                            <p class="card-text"> {{ item['ModuleID'] }} {{ item['LectureName'] }}  At {{ item['LectureLocation'] }} - {{ item['Time '] }} </p>#}
{##}
{#                        {% endfor %}#}
{##}
{#                    {% else %}#}
{##}
{#                        <p class="card-text" style="color: red">No Upcoming Lectures </p>#}
{##}
{#                    {% endif %}#}



                </div>
            </div>
        </div>


        <div class="my-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Code Generation</h5>
                    <p class="card-text">Generate and display a code for a lecture.</p>
                    <a href="{{ url_for('gencode') }}" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>



        <div class="my-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Module Manager</h5>
                    <p class="card-text">Manage your modules</p>
                    <a href="{{ url_for('modulemanagement') }}" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>

        <div class="my-4">
            <div class="card">
                <div class="card-body">

                    <div class="flex-container">

                        {% if timetabled_days['Monday'] == True %}

                            <div class=mx-2>

                                <h5 class="card-title" text-align="centre">Monday</h5>
                                <div class=card-body >
                                    <ul class="list-group">

                                        {% if next_lecture|count  > 0 %}
                                            {% for item in lectures %}
                                                {% if item['Day'] == "Monday" %}
                                                    <li class="list-group-item"> {{ item['LectureName'] }} {{ item['LectureLocation'] }} {{ item['Time '] }}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                    </ul>

                                </div>
                            </div>
                        {% endif %}

                        {% if timetabled_days['Monday'] == False %}

                            <div class=class=mx-1>

                                <h5 class="card-title">Monday</h5>
                                <div class=card-body >
                                    <ul class="list-group">

                                        <li class="list-group-item"> No lectures planned</li>

                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        {% if timetabled_days['Tuesday'] == True %}

                            <div class=class=mx-1>
                                <h5 class="card-title">Tuesday</h5>
                                <div class=card-body >
                                    <ul class="list-group">
                                        {% if next_lecture|count  > 0 %}
                                            {% for item in lectures %}
                                                {% if item['Day'] == "Tuesday" %}
                                                    <li class="list-group-item"> {{ item['LectureName'] }} {{ item['LectureLocation'] }} {{ item['Time '] }}

                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        {% if timetabled_days['Tuesday'] == False %}

                            <div class=class=mx-1>

                                <h5 class="card-title">Tuesday</h5>
                                <div class=card-body >
                                    <ul class="list-group">

                                        <li class="list-group-item"> No lectures planned</li>

                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        {% if timetabled_days['Wednesday'] == True %}
                            <div class=class=mx-1>
                                <h5 class="card-title">Wednesday</h5>
                                <div class=card-body >
                                    <ul class="list-group">
                                        {% if next_lecture|count  > 0 %}
                                            {% for item in lectures %}
                                                {% if item['Day'] == "Wednesday" %}
                                                    <li class="list-group-item"> {{ item['LectureName'] }} {{ item['LectureLocation'] }} {{ item['Time '] }}

                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        {% if timetabled_days['Wednesday'] == False %}

                            <div class=class=mx-1>

                                <h5 class="card-title">Wednesday</h5>
                                <div class=card-body >
                                    <ul class="list-group">

                                        <li class="list-group-item"> No lectures planned</li>

                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        {% if timetabled_days['Thursday'] == True %}
                            <div class=class=mx-1>

                                <h5 class="card-title">Thursday</h5>
                                <div class=card-body >
                                    <ul class="list-group">
                                        {% if next_lecture|count  > 0 %}
                                            {% for item in lectures %}
                                                {% if item['Day'] == "Thursday" %}
                                                    <li class="list-group-item">{{ item['LectureName'] }} {{ item['LectureLocation'] }} {{ item['Time '] }}

                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>

                            </div>
                        {% endif %}

                        {% if timetabled_days['Thursday'] == False %}

                            <div class=class=mx-1>

                                <h5 class="card-title">Thursday</h5>
                                <div class=card-body >
                                    <ul class="list-group">

                                        <li class="list-group-item"> No lectures planned</li>

                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        {% if timetabled_days['Friday'] == True %}
                            <div class=class=mx-1>

                                <h5 class="card-title">Friday</h5>
                                <div class=card-body >
                                    <ul class="list-group">
                                        {% if next_lecture|count  > 0 %}
                                            {% for item in lectures %}
                                                {% if item['Day'] == "Friday" %}
                                                    <li class="list-group-item"> {{ item['LectureName'] }} {{ item['LectureLocation'] }} {{ item['Time '] }} </li>

                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </ul>

                                </div>
                            </div>
                        {% endif %}

                        {% if timetabled_days['Friday'] == False %}

                            <div class=class=mx-1>

                                <h5 class="card-title">Friday</h5>
                                <div class=card-body >
                                    <ul class="list-group">

                                        <li class="list-group-item"> No lectures planned</li>

                                    </ul>
                                </div>
                            </div>
                        {% endif %}


                    </div>



                </div>
            </div>
        </div>


    </div>


{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

{% endblock scripts %}