
{% extends "layout.html" %}
{% block head %}

    {#  Head section of webpage  #}

    {# nav bar #}
    <div class="topnav" >
        <div class="active">
            <a href="{{ url_for('index') }}">
                <img id="logo" src="/static/uni_logo.png" alt="Uni Logo">
            </a>
            <ul id="nav">
                <li id="nav"><a href="{{ url_for('lecturer_home') }}">Lecturers</a></li>
                <li id="nav"><a href="{{ url_for('lecturesignin') }}">Students</a></li>
                <li id="nav"><a href="{{ url_for('sign_out') }}">Sign Out</a></li>

            </ul>

        </div>
    </div>

    {# CDN links #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lecturer_home.css') }}">

    <title>Home</title>

{% endblock head %}

{% block content %}

    <p> </p>
    <h1 align="center"> Lecturer Home</h1>


    <div class="container">

        {# notification bar that shows a dynamic set of clickable notifications. #}
        <div class="my-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #4365E2;">Notifications </h5>

                    {%if show_messages %}

                        <div class="container-fluid my-3">

                            <ul class="list-group mx-5">
                                <li class="list-group-item active" style="color: ghostwhite;background-color: #4365E2;">Attendance Notifications</li>
                                {% for item in student_messages %}

                                    <li class="list-group" style="color: ghostwhite;">
                                        <h5> </h5>
                                        <form action="{{ url_for('redirect_to_student') }}" method="post">
                                            <input type="hidden"  name="module_id" value="{{ item[2] }}">
                                            <button name="student" type="submit" value="{{ item[1] }}" class="list-group-item list-group-item-action"> {{ item[0] }} </button>
                                        </form>
                                    </li>

                                {% endfor %}

                            </ul>

                        </div>

                    {% endif %}

                    {%if show_messages == False %}

                        <p class="card-text" style="color:#4365E2;">No current Notifications.</p>

                    {% endif %}

                </div>
            </div>
        </div>
        {# code generation option#}
        <div class="my-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color:#4365E2;"> Code Generation</h5>
                    <p class="card-text"  style="color:#4365E2;">Generate and display a code for a lecture.</p>
                    <a href="{{ url_for('gencode') }}" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        {# module management option #}
        <div class="my-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color:#4365E2;">Module Manager</h5>
                    <p class="card-text" style="color:#4365E2;">Manage your modules</p>
                    <a href="{{ url_for('modulemanagement') }}" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        {# dynamic timetable that shows lecturers what classes they have on during the days of the week. #}
        <div class="my-4">
            <div class="card">
                <div class="card-body" style="background-color:#4365E2;">

                    <div class="flex-container" style="background-color:#4365E2;">

                        {% if timetabled_days['Monday'] == True %}

                            <div class=mx-2>

                                <h5 class="card-title" style="color: ghostwhite;" text-align="centre">Monday</h5>
                                <div class="card-body" style="background-color:#4365E2;">
                                    <ul class="list-group" style="background-color:#4365E2;color: #2b542c">

                                        {% if next_lecture|count  > 0 %}
                                            {% for item in lectures %}
                                                {% if item['Day'] == "Monday" %}
                                                    <li class="list-group-item" > {{ item['LectureName'] }} {{ item['LectureLocation'] }} {{ item['Time'] }}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                    </ul>

                                </div>
                            </div>
                        {% endif %}

                        {% if timetabled_days['Monday'] == False %}

                            <div class=class=mx-1>

                                <h5 class="card-title" style="color: ghostwhite;">Monday</h5>
                                <div class=card-body >
                                    <ul class="list-group">

                                        <li class="list-group-item"> No lectures planned</li>

                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        {% if timetabled_days['Tuesday'] == True %}

                            <div class=class=mx-1>
                                <h5 class="card-title" style="color: ghostwhite;">Tuesday</h5>
                                <div class=card-body >
                                    <ul class="list-group">
                                        {% if next_lecture|count  > 0 %}
                                            {% for item in lectures %}
                                                {% if item['Day'] == "Tuesday" %}
                                                    <li class="list-group-item"> {{ item['LectureName'] }} {{ item['LectureLocation'] }} {{ item['Time'] }}

                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        {% if timetabled_days['Tuesday'] == False %}

                            <div class=class=mx-1>

                                <h5 class="card-title" style="color: ghostwhite;">Tuesday</h5>
                                <div class=card-body >
                                    <ul class="list-group">

                                        <li class="list-group-item"> No lectures planned</li>

                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        {% if timetabled_days['Wednesday'] == True %}
                            <div class=class=mx-1>
                                <h5 class="card-title" style="color: ghostwhite;">Wednesday</h5>
                                <div class=card-body >
                                    <ul class="list-group">
                                        {% if next_lecture|count  > 0 %}
                                            {% for item in lectures %}
                                                {% if item['Day'] == "Wednesday" %}
                                                    <li class="list-group-item"> {{ item['LectureName'] }} {{ item['LectureLocation'] }} {{ item['Time'] }}

                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        {% if timetabled_days['Wednesday'] == False %}

                            <div class=class=mx-1>

                                <h5 class="card-title" style="color: ghostwhite;">Wednesday</h5>
                                <div class=card-body >
                                    <ul class="list-group">

                                        <li class="list-group-item"> No lectures planned</li>

                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        {% if timetabled_days['Thursday'] == True %}
                            <div class=class=mx-1>

                                <h5 class="card-title" style="color: ghostwhite;">Thursday</h5>
                                <div class=card-body >
                                    <ul class="list-group">
                                        {% if next_lecture|count  > 0 %}
                                            {% for item in lectures %}
                                                {% if item['Day'] == "Thursday" %}
                                                    <li class="list-group-item">{{ item['LectureName'] }} {{ item['LectureLocation'] }} {{ item['Time'] }}

                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>

                            </div>
                        {% endif %}

                        {% if timetabled_days['Thursday'] == False %}

                            <div class=class=mx-1>

                                <h5 class="card-title" style="color: ghostwhite;">Thursday</h5>
                                <div class=card-body >
                                    <ul class="list-group">

                                        <li class="list-group-item"> No lectures planned</li>

                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        {% if timetabled_days['Friday'] == True %}
                            <div class=class=mx-1>

                                <h5 class="card-title" style="color: ghostwhite;">Friday</h5>
                                <div class=card-body >
                                    <ul class="list-group">
                                        {% if next_lecture|count  > 0 %}
                                            {% for item in lectures %}
                                                {% if item['Day'] == "Friday" %}
                                                    <li class="list-group-item"> {{ item['LectureName'] }} {{ item['LectureLocation'] }} {{ item['Time'] }} </li>

                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </ul>

                                </div>
                            </div>
                        {% endif %}

                        {% if timetabled_days['Friday'] == False %}

                            <div class=class=mx-1>

                                <h5 class="card-title" style="color: ghostwhite;">Friday</h5>
                                <div class=card-body >
                                    <ul class="list-group">

                                        <li class="list-group-item"> No lectures planned</li>

                                    </ul>
                                </div>
                            </div>
                        {% endif %}


                    </div>

                </div>
            </div>
        </div>


    </div>

    <script>

        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

    </script>

{% endblock content %}

{% block scripts %}
    {{ super() }}
    {# CDN links #}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

{% endblock scripts %}

