{% extends "layout.html" %}

{% block head %}


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='genCode.css') }}">
{#  CDN LINKS  #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='module_options.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    {#nav bar #}
            <div class="topnav" >
            <div class="active">
                <a href="{{ url_for('index') }}">
                    <img id="logo" src="/static/uni_logo.png" alt="Uni Logo">
                </a>
                <ul id="nav">
                    <li id="nav"><a href="{{ url_for('lecturer_home') }}">Lecturers</a></li>
                    <li id="nav"><a href="{{ url_for('lecturesignin') }}">Students</a></li>
                    <li id="nav"><a href="{{ url_for('sign_out') }}">Sign Out</a></li>

                </ul>

            </div>
        </div>

    <title>Module Management</title>


{% endblock head %}

{% block content %}

    <h1 class="text-center"> {{ session['moduleinfo']['ModuleID'] }} : {{ session['moduleinfo']['ModuleName'] }} - {{ attendance }}% Attendance</h1>

{# secondary navbar with options such as sorting, add lectures, edit class list. #}
    <div class="flex-container m-5">

        <a  href="{{ url_for('create_lecture') }}" class="btn btn-primary mx-2">Add Lecture </a>

        <form action="{{ url_for('sort_timetable') }}" method="post" class="mx-2">
            <button name="semester1" type="submit" class="btn btn-primary" value="12" >View Semester 1</button>
        </form>

        <form action="{{ url_for('sort_timetable') }}" method="post" class="mx-2">
            <button name="semester2" type="submit" class="btn btn-primary" value="13" >View Semester 2</button>
        </form>

        <form action="{{ url_for('sort_timetable') }}" method="post" class="mx-2">
            <button name="currentweek" type="submit" class="btn btn-primary" value="0" >View Current Week</button>
        </form>

        <form action="{{ url_for('class_list_management') }}" method="get" class="mx-2">
            <button name="module_id" type="submit" class="btn btn-primary" value="{{ session['moduleinfo']['ModuleID'] }}" >Edit Class List</button>
        </form>

        <form action="{{ url_for('update_office_docs') }}" method="post" class="mx-2">
            <button name="module_id" type="submit" class="btn btn-primary" value="{{ session['moduleinfo']['ModuleID'] }}" >Update Docs</button>
        </form>

    </div>


     {% with messages = get_flashed_messages() %}
        <div class="d-flex justify-content-center" >
            <div class="my-5">
                {% if messages %}
                    <div class="card-body">

                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}

                    </div>
                {% endif %}
            </div>
        </div>
    {% endwith %}


{# a timetable that is sortable using the secondary navbar above.#}
        <div class="card m-5" style="background-color:#4365E2;">

            <div class="card-body" style="background-color:#4365E2;">

                <h2 class="card-title">Timetable</h2>
                {% if timetabled_days['Monday'] == True %}

                    <div class=mx-2>

                        <h5 class="card-title" text-align="centre">Monday</h5>
                        <div class=card-body style="background-color:#4365E2" >
                            <ul class="list-group">

                                {% if lectures|count  > 0 %}
                                    {% for item in lectures %}
                                        {% if item['Day'] == "Monday" %}
                                            <li class="list-group-item"> Week: {{ item['Week'] }} - {{ item['LectureName'] }} {{ item['LectureLocation'] }} {{ item['Time '] }}

                                                <form action="{{ url_for('module_options') }}" method="post">
                                                    <button name="Lecture" type="submit" class="btn btn-primary" value="{{ item['LectureID'] }}" >Remove</button>
                                                </form>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                            </ul>

                        </div>
                    </div>
                {% endif %}

                {% if timetabled_days['Monday'] == False %}

                    <div class=class=mx-1>

                        <h5 class="card-title">Monday</h5>
                        <div class=card-body >
                            <ul class="list-group">

                                <li class="list-group-item"> No lectures planned</li>

                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if timetabled_days['Tuesday'] == True %}

                    <div class=class=mx-1>
                        <h5 class="card-title">Tuesday</h5>
                        <div class=card-body >
                            <ul class="list-group">
                                {% if lectures|count  > 0 %}
                                    {% for item in lectures %}
                                        {% if item['Day'] == "Tuesday" %}
                                            <li class="list-group-item"> Week: {{ item['Week'] }} - {{ item['LectureName'] }} {{ item['LectureLocation'] }} {{ item['Time '] }}
                                                <form action="{{ url_for('module_options') }}" method="post">
                                                    <button name="Lecture" type="submit" class="btn btn-primary" value="{{ item['LectureID'] }}" >Remove</button>
                                                </form>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if timetabled_days['Tuesday'] == False %}

                    <div class=class=mx-1>

                        <h5 class="card-title">Tuesday</h5>
                        <div class=card-body >
                            <ul class="list-group">

                                <li class="list-group-item"> No lectures planned</li>

                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if timetabled_days['Wednesday'] == True %}
                    <div class=class=mx-1>
                        <h5 class="card-title">Wednesday</h5>
                        <div class=card-body >
                            <ul class="list-group">
                                {% if lectures|count  > 0 %}
                                    {% for item in lectures %}
                                        {% if item['Day'] == "Wednesday" %}
                                            <li class="list-group-item"> Week: {{ item['Week'] }} - {{ item['LectureName'] }} {{ item['LectureLocation'] }} {{ item['Time '] }}
                                                <form action="{{ url_for('module_options') }}" method="post">
                                                    <button name="Lecture" type="submit" class="btn btn-primary" value="{{ item['LectureID'] }}" >Remove</button>
                                                </form>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if timetabled_days['Wednesday'] == False %}

                    <div class=class=mx-1>

                        <h5 class="card-title">Wednesday</h5>
                        <div class=card-body >
                            <ul class="list-group">

                                <li class="list-group-item"> No lectures planned</li>

                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if timetabled_days['Thursday'] == True %}
                    <div class=class=mx-1>

                        <h5 class="card-title">Thursday</h5>
                        <div class=card-body >
                            <ul class="list-group">
                                {% if lectures|count  > 0 %}
                                    {% for item in lectures %}
                                        {% if item['Day'] == "Thursday" %}
                                            <li class="list-group-item"> Week: {{ item['Week'] }} - {{ item['LectureName'] }} {{ item['LectureLocation'] }} {{ item['Time '] }}
                                                <form action="{{ url_for('module_options') }}" method="post">
                                                    <button name="Lecture" type="submit" class="btn btn-primary" value="{{ item['LectureID'] }}" >Remove</button>
                                                </form>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                {% endif %}

                {% if timetabled_days['Thursday'] == False %}

                    <div class=class=mx-1>

                        <h5 class="card-title">Thursday</h5>
                        <div class=card-body >
                            <ul class="list-group">

                                <li class="list-group-item"> No lectures planned</li>

                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if timetabled_days['Friday'] == True %}
                    <div class=class=mx-1>

                        <h5 class="card-title">Friday</h5>
                        <div class=card-body >
                            <ul class="list-group">
                                {% if lectures|count  > 0 %}
                                    {% for item in lectures %}
                                        {% if item['Day'] == "Friday" %}
                                            <li class="list-group-item"> Week: {{ item['Week'] }} - {{ item['LectureName'] }} {{ item['LectureLocation'] }} {{ item['Time '] }}

                                                <form action="{{ url_for('module_options') }}" method="post">
                                                    <button name="Lecture" type="submit" class="btn btn-primary" value="{{ item['LectureID'] }}" >Remove</button>
                                                </form>

                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </ul>

                        </div>
                    </div>
                {% endif %}

                {% if timetabled_days['Friday'] == False %}

                    <div class=class=mx-1>

                        <h5 class="card-title">Friday</h5>
                        <div class=card-body >
                            <ul class="list-group">

                                <li class="list-group-item"> No lectures planned</li>

                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    {% if show_graph == False%}

        <div class="card m-5">
            <img class="card-img-top" src="/static/campus.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Graph</h5>
                <p class="card-text">Currently No Graph Data To Be Displayed</p>
            </div>
        </div>
    {% endif %}
    {% if show_graph == True%}
{# a bar graph used to show lecturers their module attendance day by day for the semester. #}
        <canvas id="bar-chart" ></canvas>

        <script>

            // Bar chart
            new Chart(document.getElementById("bar-chart"), {
                type: 'line',
                data: {
                    labels: {{ session['labels']| tojson }},

                    datasets: [

                        {% for item in session['graph_datasets'] %}
                            {
                                label: {{ item['Day'] | tojson  }},
                                borderColor: getRandomColor(),
                                fill: false,
                                data: {{ item['graph_data'] | tojson }}
                            },

                        {% endfor %}
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Attendance Stats By Day Of The Week'
                    }
                }
            });

            {## https://stackoverflow.com/questions/25594478/different-color-for-each-bar-in-a-bar-chart-chartjs#}

            var colorArray = [["#FF4000", false], ["#81BEF7", false], ["#5882FA", false],
                ["#04B404", false], ["#A901DB", false], ["#F5A9BC", false]];
            {# setting random colours for each line every time.#}
            function getRandomColor() {
                var letters = '0123456789ABCDEF'.split('');
                var color = '#';
                for (var i = 0; i < 6; i++ ) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

        </script>


    {% endif %}

{% endblock content %}

{% block scripts %}

    {{ super() }}

{% endblock scripts %}
