{% extends "layout.html" %}

{% block head %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='genCode.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lecturer_home.css') }}">
    <title>Module Management</title>
    {#nav bar #}
    <div class="topnav" >
        <div class="active">
            <a href="{{ url_for('index') }}">
                <img id="logo" src="/static/uni_logo.png" alt="Uni Logo">
            </a>
            <ul id="nav">
                <li id="nav"><a href="{{ url_for('lecturer_home') }}">Lecturers</a></li>
                <li id="nav"><a href="{{ url_for('lecturesignin') }}">Students</a></li>
                <li id="nav"><a href="{{ url_for('sign_out') }}">Sign Out</a></li>

            </ul>

        </div>
    </div>

{% endblock head %}

{% block content %}
    {# list of bootstrap cards to display modules managed by the lecturer. #}
    <br>
    <h1 align="center"> Module Manager</h1>
    {% with messages = get_flashed_messages() %}
        <div class="d-flex justify-content-center" >
            <div class="my-5">
                {% if messages %}
                    <div class="card-body">

                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}

                    </div>
                {% endif %}
            </div>
        </div>
    {% endwith %}
    <br>
    <div class="container" style="margin-outside: 100px;">

        {% for item in modules %}
            <form action="{{ url_for('module_options') }}" method="get">
                <div class="card">
                    <div class="card-body" style="background-color:#4365E2">
                        <h5 class="card-title" style="color: ghostwhite">{{ item['ModuleID'] }}</h5>
                        <p class="card-text" style="color: ghostwhite">{{ item['ModuleName'] }}</p>
                        <button name="module" type="submit" class="btn btn-primary" value="{{ item['ModuleID'] }}" >Module Options</button>
                    </div>
                </div>
                <br>
            </form>
        {% endfor %}
        {# button to reveal option to add a new module...#}
        {% if modules_display == True %}

            <button type="button" class="btn btn-primary" onclick = "myFunction()" >Create New Module </button>

        {% endif %}


        {% if modules_display == False %}
            {# displayed if no modules exist.#}

            <div>
                <div class="card mx-5" >
                    <img class="card-img-top" src="/static/modules.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">It seems that you don't have any modules yet!</h5>
                        <p class="card-text">Click the button below to get started.</p>
                        <button type="button" class="btn btn-primary" onclick = "myFunction()" >Create New Module </button>
                    </div>
                </div>
            </div>
        {% endif %}

        {# form to create new module#}
        <br>
        <div id="myDIV" style="display: none">
            <div class="card m-5">
                <div class="card-body" style="background-color: #4365E2">
                    <form action="{{ url_for('modulemanagement') }}" method="post">

                        <div class="input-group form-group">
                            <input type="text" class="form-control" placeholder="ModuleID" name="moduleid" required>
                        </div>

                        <div class="input-group form-group">
                            <input type="text" class="form-control" placeholder="Module Name" name="modulename" required>
                        </div>

                        <button type="submit" class="btn btn-primary">Create Module</button>


                    </form>
                </div>
            </div>

        </div>
    </div>

    <script>
        {# javascript function to show and hide create new module form. #}
        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

    </script>

{% endblock content %}

{% block scripts %}
    {{ super() }}

{% endblock scripts %}
