{% extends "layout.html" %}

{% block head %}

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signedin.css') }}">

        <div class="topnav" >
            <div class="active">
                <a href="{{ url_for('index') }}">
                    <img id="logo" src="/static/uni_logo.png" alt="Uni Logo">
                </a>
                <ul id="nav">
                    <li id="nav"><a href="{{ url_for('lecturer_home') }}">Lecturers</a></li>
                    <li id="nav"><a href="{{ url_for('lecturesignin') }}">Students</a></li>


                </ul>

            </div>
        </div>

    <title>Lecture Attendance Recorded</title>
{% endblock head %}

{% block content %}

  <div class = flex-container>

      <div class="card" style="width: 50rem; align-content: center; margin-outside: 200px">
      <div class="card-body">
        <h5 class="card-title">Your attendance for this lecture has been recorded! You may now close your browser.</h5>
        <h6 class="card-subtitle mb-2 text-muted">The lecture information is as follows:</h6>
        <p class="card-text">
               <h1>  Lecture Name: {{lecturedata['LectureName']}}</h1>
               <h1>  Lecture Duration: {{lecturedata['LectureDuration']}} Hour(s)</h1>

      </div>
      </div>

  </div>

{% endblock content %}

{% block scripts %}
{{ super() }}

{% endblock scripts %}