{% extends "layout.html" %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='genCode.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lecturer_home.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div class="topnav" >
        <div class="active">
            <a href="{{ url_for('index') }}">
                <img id="logo" src="/static/uni_logo.png" alt="Uni Logo">
            </a>
            <ul id="nav">
                <li id="nav"><a href="{{ url_for('lecturer_home') }}">Lecturers</a></li>
                <li id="nav"><a href="{{ url_for('lecturesignin') }}">Students</a></li>
                <li id="nav"><a href="{{ url_for('sign_out') }}">Sign Out</a></li>

            </ul>

        </div>
    </div>

    <title>Student Stats</title>



{% endblock head %}

{% block content %}

    <h1 class="text-center"> {{ session['Student']['FirstName'] }} {{ session['Student']['LastName']}} - Attendance Information - {{ session['moduleid'] }}</h1>

    {% with messages = get_flashed_messages() %}
        <div class="d-flex justify-content-center" >
            <div class="my-5">
                {% if messages %}
                    <div class="card-body">

                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}

                    </div>
                {% endif %}
            </div>
        </div>
    {% endwith %}


    {% if show_stats == True %}

        <div class="card mx-10">


            <img class="card-img-top" src="/static/qmb.jpg" alt="Card image cap">
            <div class="card-body">
                <form action="{{ url_for('remove_from_class_list') }}" method="post">
                    <button name="Student" type="submit" class="btn btn-primary" value="{{ session['Student']['MatricNum'] }}" >Remove From Class</button>
                </form>

                <form action="{{ url_for('send_email') }}" method="post">
                    <button name="student" type="submit" class="btn btn-primary my-2" value="{{ session['Student']['MatricNum'] }}" >Send Attendance Report</button>
                </form>

                {% if from_home == False %}

                    <form action="{{ url_for('class_list_management') }}" method="get">
                        <button name="module_id" type="submit" class="btn btn-primary my-2" value="{{ session['moduleid']}}" >Back</button>
                    </form>

                {% endif %}

                {% if from_home == True %}

                    <a  class="btn btn-primary my-2" href="{{ url_for('lecturer_home') }}" >Back</a>

                {% endif %}


            </div>
        </div>

    {% endif %}



    <p> </p>
    <h1 class="text-center"> {{ student_statement }} </h1>

    <p> </p>


    {% if show_stats == False %}

        <div class="card m-5">
            <img class="card-img-top" src="/static/qmb.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nothing To Show!</h5>
                <p class="card-text">Unfortunately, this student has no attendance data to date. </p>
                <form action="{{ url_for('class_list_management') }}" method="get">
                    <button name="module_id" type="submit" class="btn btn-primary m-5" value="{{ session['moduleinfo']['ModuleID'] }}" >Back</button>
                </form>
                <p> </p>
                <form action="{{ url_for('remove_from_class_list') }}" method="post">
                    <button name="Student" type="submit" class="btn btn-primary m-5" value="{{ session['Student']['MatricNum'] }}" >Remove From Class</button>
                </form>
            </div>
        </div>

    {% endif %}

    {% if show_stats == True %}
        <div>
            <canvas id="pie-chart"></canvas>
            <script>
                new Chart(document.getElementById("pie-chart"), {
                    type: 'pie',
                    data: {
                        labels: ["Present", "Absent"],
                        datasets: [{
                            label: "Attendance",
                            backgroundColor: ["#3e95cd", "#8e5ea2"],
                            data: {{chart_data}}
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: ('{{ session['Student']['FirstName'] }}' + 's Lecture Attendance So Far')
                        }
                    }
                });

            </script>
        </div>

        <div>
            <ul class="list-group m-2">

                <li class="list-group-item active">Attendance Overview</li>

                {% for item in attendance_info %}

                    <li class="list-group-item "> {{ item['LectureName'] }} {{ item['Day'] }}  Week: {{ item['Week'] }} Attendance:  {{ item['Attendance'] }} </li>

                {% endfor %}

            </ul>
        </div>
    {% endif %}



{% endblock content %}

{% block scripts %}

    {{ super() }}

{% endblock scripts %}
