{% extends "layout.html" %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='genCode.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lecturerhome.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


    <title>Student Stats</title>

    <div class="topnav1">
        <a href="{{ url_for('sign_out') }}">Sign Out</a>
    </div>


{% endblock head %}

{% block content %}

    <h1 class="text-center"> {{ session['Student']['FirstName'] }} {{ session['Student']['LastName']}} - Attendance Information </h1>

    <div class="container ">
        <form action="{{ url_for('remove_from_class_list') }}" method="post">
            <button name="Student" type="submit" class="btn btn-primary" value="{{ session['Student']['MatricNum'] }}" >Remove From Class</button>
        </form>

    </div>

    <canvas id="speedChart" > </canvas>
    <script>

        var speedCanvas = document.getElementById("speedChart");

        Chart.defaults.global.defaultFontFamily = "Lato";
        Chart.defaults.global.defaultFontSize = 18;

        var speedData = {
            labels: {{ session['labels'] }},
            datasets: [

                {
                    label: "{{ session['moduleinfo']['ModuleID'] }} : {{ session['moduleinfo']['ModuleName'] }}",
                    data: {{session['graph_data']}},
                    lineTension: 0,
                    fill: false,
                    borderColor: 'blue',
                    backgroundColor: 'transparent',
                    borderDash: [5, 5],
                    pointBorderColor: 'white',
                    pointBackgroundColor: 'black',
                    pointRadius: 5,
                    pointHoverRadius: 10,
                    pointHitRadius: 30,
                    pointBorderWidth: 2,
                    pointStyle: 'rectRounded'
                }



            ]
        };

        var chartOptions = {
            legend: {
                display: true,
                position: 'top',
                labels: {
                    boxWidth: 80,
                    fontColor: 'black'
                }
            }
        };

        var lineChart = new Chart(speedCanvas, {
            type: 'line',
            data: speedData,
            options: chartOptions
        });



        Resources

    </script>


{% endblock content %}

{% block scripts %}

    {{ super() }}


{% endblock scripts %}
